{% from ".macro.twig" import BoutonLink,CheckboxCat,CheckboxType %}


<div class="caseRecherche">
    <div class="barreRecherche">

        <ul class="Deroulant">
            <li> <button class="LibBouton"> Catégories &#11206; </button>
                <ul id="Menu">
                    {% for ligneCat in Categorie %}
                    <li>
                        {{CheckboxCat('Categorie[]',ligneCat['IdCategorie'],ligneCat['LibCategorie'])}}
                        <ul>
                            {% for ligneSousCat in SousCategorie %}
                            {% if ligneSousCat['IdCategorie'] == ligneCat['IdCategorie'] %}
                            <li>
                                {{CheckboxCat('SousCategorie[]',ligneSousCat['IdSousCategorie'],ligneSousCat['LibSousCategorie'])}}

                                <ul class="Type">
                                    {% for ligneType in Type %}

                                    {% if ligneType['IdSousCategorie'] == ligneSousCat['IdSousCategorie'] %}
                                    <li>
                                        {{CheckboxType('Type[]',ligneType['IdType'],ligneType['LibType'])}}
                                    </li>
                                    {% endif %}


                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>

        <div class="barreRecherchePrincipal"><input type="search" placeholder="Saisissez une ville, une adresse...">
        </div>
        <div class="boutonRecherchePrincipal"><button> &#128269; </button> </div>
    </div>
    <div class="boutonValider">
        <button type="submit" name="Categories">Valider</button>
    </div>

    {# </form> #}
</div>

{{Recherche}}