{% extends ".layout.html" %}

{% block contenu %}

<center><h1>Désolé, il semble qu'une erreur est apparue lors de la connexion à la base de donnéees</h1> <br> </center>
<center> <h2> Détails : {{error_msg}} </h2></center>
{% endblock %}