/* !TOUTE LA PAGE */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
}
button:hover {
  cursor: pointer;
}
button:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* ! HEADER */

.headerBackground * {
  padding: 0;
  margin: 0;
}

.headerBackground {
  background-color: white;
  box-shadow: 0 -1px 4px 0 rgb(26 26 26 / 15%), 0 4px 8px 0 rgb(26 26 26 / 20%);
  margin-bottom: 2rem;
  padding: 6px;
}
.headerContenu {
  padding: 8px;
  display: flex;
  max-width: 1000px;
  margin: auto;
}

.headerContenu * {
  background-color: white;
}
.headerContenu div {
  align-self: center;
  padding-right: 15px;
}
.headerContenu div button {
  background-color: rgba(182, 221, 255, 0.767);
  border: 0.5px solid;
  padding: 3px;
  transition: 0.5s;
}

.symbMenu{
  font-size: 35px;
  margin: 0;
  background-color: transparent;
  position: relative;
}
.headerContenu div button i {
  background: transparent;
}
.headerContenu div button:hover {
  font-size: 15px;
}

.headerContenu .menuDeroulant button {
  border: 0px;
  background: transparent;
}

.logo {
  padding-right: 15px;
  margin-top: 5px;
}
.logo-img {
  width: 32px;
  height: 32px;
}

.nom {
  align-self: center;
  flex-grow: 1;
}

.boutonRecherche {
  flex-grow: 1.4;
  width: 80px;
  padding: 2px;
}

/* !DEROULANT */
.menuDeroulant nav {
  background-color: white;
  position: sticky;
  top: 0px;
}

.menuDeroulant nav ul {
  list-style-type: none;
}

.menuDeroulant nav ul li {
  text-align: center;
  position: relative;
  list-style-type: none;
}

.menuDeroulant nav ul::after {
  display: table;
  clear: both;
}

.menuDeroulant nav a {
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
}

.menuDeroulant nav a:hover {
  color: rgb(0, 140, 255);
}

.menuDeroulant .deroulant .sous {
  display: none;
  box-shadow: 0px 1px 2px #ccc;
  background-color: white;
  position: absolute;
  width: 300px;
  z-index: 10000;
  padding-top: 0.5rem;
  opacity: 101%;
}
.menuDeroulant nav > ul li:hover .sous {
  display: block;
}
.menuDeroulant .sous li {
  width: 100%;
  text-align: left;
}
.menuDeroulant .sous a {
  padding: 10px;
  border-bottom: none;
}
.menuDeroulant .sous a:hover {
  border-bottom: none;
  background-color: RGBa(200, 200, 200, 0.1);
}

.menuDeroulant .deroulant > a::after {
  font-size: 12px;
}

/* !CASE RECHERCHE */

.caseRecherche {
  background-color: white;
  max-width: 700px; /* TODO régler la vrai taille plus tard*/
  margin: 0 auto;
  padding: 0.5rem;
  padding-top: 1.5rem;
  box-shadow: -1px 4px 0 rgb(26 26 26 / 8%), 0 4px 8px 0 rgb(26 26 26 / 12%);
  border-radius: 10px; /* ?Arrondi les bords */
}

.caseRecherche * {
  background-color: white;
  border: none;
}
.caseRecherche div {
  align-self: center;
}
.caseRecherche div i {
  align-self: center;
}
.caseRecherche * {
  font-size: 20px;
}

.barreRecherche {
  text-align: center;
  display: flex;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 20px;
  background-color: rgba(238, 238, 238, 0.822);
}

.barreRecherche * {
  outline: none;
  border-radius: 25px;
  background-color: transparent;
  font-size: 20px;
}


.boutonRechercheCategorie {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.boutonRechercheCategorie button {
  display: flex;
}

.boutonRechercheCategorie:hover {
  background-color: rgba(238, 238, 238, 0.678);
}

.barreRecherchePrincipal {
  height: 30px;
  flex-grow: 1;
  border-radius: 0px;
  border-left: solid 1px;
}
.barreRecherchePrincipal input {
  width: 100%;
  height: 100%;
  font-size: 15px;
  padding-left: 0.5rem;
}
.barreRecherchePrincipal input:focus {
  border-radius: 0px;
  border: solid 1px;
}
.boutonRecherchePrincipal {
  padding-right: 0.5rem;
}

.boutonValider {
  background-color: rgb(255, 111, 106);
  text-align: center;
  width: 12%;
  margin: 0 auto;
  margin-top: 1rem;
  transition: 0.1s;
}
.boutonValider button {
  background-color: rgb(255, 111, 106);
  padding: 5px;
  font-weight: bold;
}
.boutonValider button {
  transition: 0.5s;
  box-shadow: -1px 4px 0 rgb(26 26 26 / 8%), 0 4px 8px 0 rgb(26 26 26 / 12%);
}
.boutonValider button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.boutonValider button:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border: none;
}